* {
	padding: 0;
	margin: 0;
	
}

html, body {
	background-color: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
}

/* 
	Header
*/

.header .nav {
	display: flex;
	box-shadow: 0 0 10px #00acd7;
	background-color: #fff;
}

.header .nav .site-logo {
	width: 12%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header .nav .site-logo .logo {
	height: 40px;
	padding: 5px 10px; 
}

.header .nav .navigation {
	width: 46%;
	display: flex;
	list-style: none;
	justify-content: center;
	 align-items: center;
}

.header .navigation .nav-item {
	padding: 5px 25px;
	height: 100%;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	cursor: pointer;
}

.header .navigation .nav-item.active,
.header .navigation .nav-item:hover {
	background-color: #00acd7;
}

.header .nav-item .nav-link {
	color: #00acd7;
	text-decoration: none;
	font-weight: 600;
}

.header .navigation .nav-item.active .nav-link {
	color: #fff;
}

.header .navigation .nav-item:hover .nav-link {
	color: #fff;
}

.header .nav .search-container {
	width: 35%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header .search-container .search {
	width:14px;
	z-index: 3;
}

.header .search-container .search-input {
  width: 50%;
  padding: 2px 10px;
	padding-left: 22px;
	border-radius: 10px;
	outline: none;
	background-color: #f6f6f6;
	border: 1px solid transparent;
	margin-left: -20px;	
}

.header .nav .account {
	width: 7%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header .account .dropdown {
	position: relative;
	width: 100%;
	height: 100%;
}

.header .account .avatar {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start; 
	align-items: center;
}

.header .account .image {
	width: 40px;
	cursor: pointer;
}

.header .dropdown .dropdown-list {
	display: flex;
	flex-flow: column;
	/* justify-content: flex-start;
	align-items: center; */
	list-style: none;
	height: 0;
	position: absolute;
	top: 50px;
	left: 10px;
	box-shadow: 0 0 5px #00acd7;
	border-radius: 5px;
	overflow: hidden;
	border-bottom: 0 solid #00acd7;
	z-index: 9999;
	width: 90px;
}

.header .dropdown:hover .dropdown-list {
	height: auto;
	border-bottom-width: 5px;
	background-color: #fff;
}

.dropdown-list .dropdown-item {
	display: flex;
	padding: 2px 15px;
	border-bottom: 1px solid #00acd7; 
}

.dropdown-list .dropdown-item:hover {
	background-color: #00acd780;
}

.dropdown-list .dropdown-item .dropdown-link {
	display: flex;	
	text-decoration: none;
	color: #00acd7;
}

.dropdown-list .dropdown-item:hover .dropdown-link {
	color: #fff;
}

/* 
  Layout
*/

.container {
  width: 93%;
  margin: 30px auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.container .row .col-1 {
  width: 8.3%;
}

.container .row .col-2 {
  width: 16.7%;
}

.container .row .col-3 {
  width: 25%;
}

.container .row .col-4 {
  width: 33.3%;
}

.container .row .col-5 {
  width: 41.7%;
}

.container .row .col-6 {
  width: 50%;
}

/* 
  Main
*/

.card {
	box-shadow: 0 0 5px #00acd7;
  margin-bottom: 30px;
  background-color: #fff;
}

.card .thumbnail {
  overflow: hidden;
}

.card .thumbnail .thumbnail-image {
  max-width: 100%;
  width: 100%;
  transition: transform .3s;
}

.card:hover .thumbnail .thumbnail-image {
  transform: scale(1.1);
}

.card .card-body {
  padding: 0 15px;
}

.card .card-body .avatar {
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
}

.card .card-body .avatar-image {
  max-width: 40px;
  width: 100%;
  margin-top: -30px;
  border-radius: 50%;
  transition: transform .3s;
}

.card:hover .card-body .avatar-image {
  transform: scale(1.1);
}

.card .card-body .tag {
  color: #00acd7;
  font-weight: 600;
  margin: 5px 0;
}

.card .card-body .title {
  color: #212125;
  font-weight: 700;
  margin: 10px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.card .card-body .content {
  color: #585858;
  font-size: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.card .card-body .more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.card .more .read-more {
  color: #00acd7;
  text-decoration: none;
}

/*
  Big Card
*/

.big-card {
  margin: 0 30px;
	box-shadow: 0 0 5px #00acd7;
  background-color: #fff;
}

.big-card .thumbnail {
  overflow: hidden;
}

.big-card .thumbnail .thumbnail-image {
  max-width: 100%;
  width: 100%;
  transition: transform .3s;
}

.big-card .thumbnail .thumbnail-image:hover {
  transform: scale(1.1);  
}

.big-card .card-body {
  padding: 30px;
}

.big-card .card-body .tag {
  color:#00acd7;
  font-weight: 600;
  padding: 5px 0;
} 

.big-card .card-body .title {
  color: #212125;
  font-weight: 600;
  font-size: 20px;
  padding: 5px 0;
}

.big-card .card-body .time {
  font-size: 14px;
  color: #484848;
  padding: 5px 0;
}

.big-card .content p {
  color: #585858;
  text-indent: 15px;
  margin: 10px 0;
  line-height: 1.6;
}

.big-card .content h1 {
  font-size: 18px;
}


/* 
	Card Ad
*/

.card-ad {
	position: relative;
	box-shadow: 0 0 5px #00acd7;
	margin-bottom: 25px;
  overflow: hidden;
}

.card-ad .thumbnail-image {
	max-width: 100%;
	width: 100%;
  transition: transform .3s;
}

.card-ad:hover .thumbnail-image {
  transform: scale(1.1);
}

.card-ad .content {
  position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	background-color: #00000050;
	padding: 20px;
  transition: background-color .3s;
}

.card-ad:hover .content {
  background-color: #00000080;
}

.card-ad .content .title {
	color: #f5f5f5;
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: 700;
  transition: font-size .3s;
}

.card-ad:hover .content .title {
  font-size: 20px;
}

.card-ad .btn {
	margin-top: 15px;
	padding: 5px 35px;
	background-color: #12ae43;
	color: #dedede;
	border: none;
	border-radius: 3px;
	outline: none;
	cursor: pointer;
}

/* 
	User list container
*/

.user-list-container {
	display: flex;
	flex-flow: column;
	background-color: #fff;
	box-shadow: 0 0 5px #00acd7;
}

.user-list-container .title {
	color: #00acd7;
	padding: 20px;
	border-bottom: 1px solid #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.user-list-container .user-list {
	list-style: none;
}

.user-list .user-item {
	display: flex;
  padding: 5px 20px;
	border-bottom: 1px solid #f0f0f0;
}

.user-list .user-item:hover {
  background-color: #00acd735;
}

.user-list .user-item .user-link {
	display: flex;
  width: 100%;
	text-decoration: none;
}

.user-list .user-item .user-link .avatar-image {
	max-width: 40px;
	border-radius: 50%;
}

.user-list .user-link .content {
	padding: 0 10px;
}

.user-list .user-link .content .user-name {
	color: #00acd7;
  font-size: 18px;
}

.user-list .user-link .content .signature {
	color: #484848;
}

